<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8" />
        {# Responsive meta tag #}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Movies!{% endblock %}</title>
        {# Iconic Bootstrap font #}
        <link href="{{ asset('open-iconic/font/css/open-iconic-bootstrap.css') }}" rel="stylesheet">
        {# Boostrap #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('main.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="container-fluid">
        <!-- navbar -->
        <header class="container-fluid">
            {% block header %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light col-md-12">
                    <a class="navbar-brand" href="{{ path('home') }}">
                        <div class="title">
                            <img class="title-logo" src="{{ asset('img/logo.png') }}" alt="movies logo"><h1 class="title-text">Movies!</h1>
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% if not app.user %} {# Si l'utilisateur est déconnecté #}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('register') }}">Créer un compte</a>
                                </li>
                            {% endif %}
                        </ul>
                        {% if not app.user %} {# Si l'utilisateur est déconnecté #}
                            <form action="{{ path('login') }}" method="post" class="form-inline my-2 my-lg-0 connection-form">
                                <div class="form-group input-group input-group-sm">
                                    <input type="text" class="form-control" id="username" name="_username" placeholder="Pseudo">
                                </div>
                                <div class="form-group input-group input-group-sm">
                                    <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">Connexion</button>
                            </form>
                        {% else %}
                            <div class="user-greeting">
                                <p>
                                    Bienvenue {{ app.user.username }}
                                </p>
                            </div>
                        {% endif %}
                        <form action="{{ path('search') }}" class="form-inline my-2 my-lg-0 search-form" id="search-form">
                            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                <span class="oi oi-magnifying-glass"></span>
                            </button>
                        </form>
                    </div>
                </nav>
            {% endblock %}
        </header>
        <main class="container-fluid">
            {% block main %}{% endblock %}
        </main>
        <footer>
            ©2018 Movies!
            {% block footer %}{% endblock %}
        </footer>

        {% block javascripts %}
            {# Scripts Boostrap #}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ asset('app.js') }}"></script>
        {% endblock %}
    </body>
</html>
