{% extends 'base.html.twig' %}

{# Pour le fond de la page #}
{% block stylesheets %} {% endblock %}

{% block title %}
    {{ movie.title }} | {{ parent() }}
{% endblock %}

{% block main %}
    <div class="bg-div" style="background-image: url({{ asset('img/backdrops/'~ movie.imdbId ~ '.jpg') }})">
        <div class="details-content row">
            <div class="movie-poster col-md-3">
                <img class="img-fluid" src="{{ asset('img/posters/' ~ movie.imdbId ~ '.jpg') }}" alt="Affiche de {{ movie.title }}">
            </div>

            <div class="movie-info col-md-9">
                <div class="title-ppl">
                    <h2>{{ movie.title }}<small class="text-muted movie-year"> ({{ movie.year }})</small></h2>
                    <dl class="row">
                        <dt class="col-sm-3">Genre(s):</dt>
                        <dd class="col-sm-9">
                            {% for genre in movie.genres  %}
                                {{ genre }}
                            {% endfor %}
                        </dd>
                        <dt class="col-sm-3">Réalisateur(s):</dt>
                        <dd class="col-sm-9">
                            {% for director in movie.directors %}
                                {{ director }}
                            {% endfor %}
                        </dd>
                        <dt class="col-sm-3">Scénariste(s):</dt>
                        <dd class="col-sm-9">
                            {% for writer in movie.writers  %}
                                {{ writer }}
                            {% endfor %}
                        </dd>
                        <dt class="col-sm-3">Casting:</dt>
                        <dd class="col-sm-9">
                            {% for actor in movie.actors %}
                                {{ actor }}
                            {% endfor %}
                        </dd>
                    </dl>
                </div>
                <div class="movie-plot">
                    <p>{{ movie.plot }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="reviews-container">
        {% if app.user %}
            <div class="review-form">
                {{ form_start(reviewForm) }}
                {{ form_widget(reviewForm) }}
                <button class="btn btn-secondary">Valider</button>
                {{ form_end(reviewForm) }}
            </div>
        {% else %}
            <div style="text-align: center">
                <p>Vous devez être connecté-e pour poster une critique.</p>
            </div>
        {% endif %}

        <div class="reviews border">
            <h3 class="h3">Critiques</h3>
            {% for review in reviews %}
                <div class="review">
                    <h5>
                        {{ review.title }}
                    </h5>
                    <p class="review-text border-left text-justify">
                        {{ review.reviewText }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

