{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block main %}
    <!-- Filters -->
    <form id="filters" action="{{ path('home') }}" method="get">
        <select id="genre-filter" data-ajax-url="{{ path('home') }}" name="genre">
            <option value="">Genre...</option>
            {% for genre in genres %}
                <option {{ app.request.query.get('genre')
                == genre.id ? "selected" : "" }} value="{{ genre.id }}">{{ genre.name|capitalize }}</option>
            {% endfor %}
        </select>
        Afficher les films sortis entre
        <select name="minyear">
            <option value=""></option>
            {% for year in years %}
                <option value="{{ year }}" {{ (year == oldestYear)? "selected" : "" }}>{{ year }}</option>
            {% endfor %}
        </select>
         et
        <select name="maxyear">
            {% for year in years %}
                <option value="{{ year }}" {{ (year == currentYear)? "selected" : "" }}>{{ year }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn">Filtrer</button>
    </form>
    <button class="btn" id="reset-filters" data-ajax-url="{{ path('home') }}">Enlever les filtres</button>
    <div class="movies justify-content-md-center" id="last-movies">
        <h2>Derniers films ajoutés</h2>
        {% for movie in movies %}
            <a href="{{ path('details', {id: movie.id}) }}">
                <div class="movie card">
                    <div class="movie-poster-card card-img-top">
                        <img class="movie-poster-img" src="{{ asset('img/posters/' ~ movie.imdbId ~ '.jpg') }}" alt="affiche {{ movie.title }}">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            {{ movie.title }}
                        </h3>
                        {{ movie.year }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}