{% extends 'base.html.twig' %}

{% block title %}
    Créer un compte | {{ parent() }}
{% endblock %}

{% block main %}
    <div class="register-form">
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <button class="btn">Valider</button>
        {{ form_end(registerForm) }}
    </div>
{% endblock %}

