.title-logo {
    width: 100px;
    height: auto;
    display: inline-block;
}

.title-text {
    display: inline;
}

.title {
    margin-top: 0.5em;
    display: inline-block;
}

.movies {
    max-width: 920px;
    margin: 2em auto;
}

.movie {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 400px;
    text-align: center;
    margin: 0.5em auto;
}

.movie-poster-card {
    height: 280px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.movie-poster-img {
    max-width: 95%;
    margin: auto;
    display: inline;
    vertical-align: middle;
}

.card-body {
    padding: 0.3em;
}

.details-content {
    background: rgba(44, 44, 44, 0.7);
}

.details-content :not(div) {
    color: ghostwhite!important;
}

.container-fluid {
    padding: 0;
}

.connection-form * {
    margin-right: 0.2em;
}

.user-greeting:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.user-greeting {
    vertical-align: middle;
}

.search-form {
    margin-left: 2em;
}

.reviews-container {
    width: 100%;
    max-width: 600px;
    margin: 2em auto;
}

.register-form {
    width: 100%;
    max-width: 600px;
    margin: 2em auto;
}

.reviews {
    margin-top: 2em;
    padding: 1em;
}

.review {
    margin: 1.5em 1em;
}

.review p {
    padding: 0.5em;
}

h3 {
    font-size: 1.1em;
}
